<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>titulo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/dashboard.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      language="JavaScript"
      type="text/javascript"
      src="{{ url_for('static', filename='js/cerrarbarra.js') }}"
    ></script>
  </head>
  <body class="back">
    {% for message in get_flashed_messages() %}
    <div>{{ message }}</div>
    {% endfor %}
    <div class="vertical-navbar bg-dark navbar-collapse" id="sidebar">
      <div class="py-4 px-3 mb-4 bg-dark">
        <div class="media d-flex align-items-center">
          <img
            src="../static/images/foto.jpg"
            alt="..."
            width="65"
            class="mr-3 rounded-circle img-thumbnail shadow-sm"
          />
          <div class="media-body">
            <h4 class="m-2 texto">Camilo Noguera</h4>
            <p class="font-weight-light text-muted mb-2">SuperAdministrator</p>
          </div>
        </div>
      </div>
      <p class="texto text-mayuscula px-3 pb-4 mb-0">ADMIN</p>
      <ul class="nav flex-column mb-0">
        <li class="nav-item">
          <a class="nav-link" href="/sessionsuperadmin">Inicio</a>
        </li>

        <a class="nav-link" href="{{url_for('login')}}">Cerrar sesion</a>
      </ul>
    </div>

    <div class="page-content p-5" id="content">
      <!--Cerrar barra-->
      <button id="sidebarCollapse" class="sadminbtn btn-d">
        <img
          src="../static/images/opciones.png"
          style="width: 40px; height: 40px"
        />
      </button>
      <br />
      <br />
      <div class="container-fluid">
        <center>
          <img src="../static/images/logo2.jpeg" class="img-resp" />
        </center>
      </div>
      <br />
      <div class="container-fluid">
        <form action="{{url_for('adduser')}}" method="POST">
          <center>
            <div class="row border">
              <div class="row nav-busq"></div>

              <div class="col-5">
                <label for="ConsultarPor">Consultar Por</label>
                <select class="form-select" aria-label="consultarpor">
                  <option selected>Seleccione el Campo a Consultar</option>
                  <option value="1">ID</option>
                  <option value="2">Nombres</option>
                  <option value="3">Apellidos</option>
                  <option value="3">Cargo</option>
                  <option value="3">Dependencia</option>
                </select>
              </div>
              <div class="col-5">
                <label for="CriterioB">Criterio de Búsqueda</label>
                <input type="text" name="searchcriteria" />
              </div>
              <div class="col-1 d-flex align-items-center">
                <img src="../static/images/buscar.png" class="iconbusq" />
              </div>
            </div>
            <br /><br />
            <div class="table1">
              <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Cargo</th>
                    <th scope="col d-flex justify-content-center">
                      Dependencia
                    </th>
                    <th scope="col">Ver</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-active">
                    <th scope="row">001</th>
                    <td>Camilo</td>
                    <td>Noguera</td>
                    <td>17</td>
                    <td>Desarrollador Frontend</td>
                    <td>Desarrolo-Web</td>
                    <td class="iconcont">
                      <a href="\infouser"
                        ><img
                          class="menuicon"
                          src="../static/images/search1jpeg"
                      /></a>
                    </td>
                    <td class="iconcont">
                      <a href="\edituser"
                        ><img
                          class="menuicon"
                          src="../static/images/edit1.jpeg"
                      /></a>
                    </td>
                    <td class="iconcont">
                      <a href="\deleteuser"
                        ><img
                          class="menuicon"
                          src="../static/images/delete1.jpeg"
                      /></a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">002</th>
                    <td>Jose</td>
                    <td>Ramirez</td>
                    <td>35</td>
                    <td>Diseñador-UI-UX</td>
                    <td>Diseño-Web</td>
                    <td class="iconcont">
                      <a href="\infouser"
                        ><img
                          class="menuicon"
                          src="../static/images/search1jpeg"
                      /></a>
                    </td>
                    <td class="iconcont">
                      <a href="\edituser"
                        ><img
                          class="menuicon"
                          src="../static/images/edit1.jpeg"
                      /></a>
                    </td>
                    <td class="iconcont">
                      <a href="\deleteuser"
                        ><img
                          class="menuicon"
                          src="../static/images/delete1.jpeg"
                      /></a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">003</th>
                    <td>Yuris</td>
                    <td>Reyes</td>
                    <td>39</td>
                    <td>Desarrollador Backend</td>
                    <td>Desarrolo-Web</td>

                    <td class="iconcont">
                      <a href="\infouser"
                        ><img
                          class="menuicon"
                          src="../static/images/search1jpeg"
                      /></a>
                    </td>
                    <td class="iconcont">
                      <a href="\edituser"
                        ><img
                          class="menuicon"
                          src="../static/images/edit1.jpeg"
                      /></a>
                    </td>
                    <td class="iconcont">
                      <a href="\deleteuser"
                        ><img
                          class="menuicon"
                          src="../static/images/delete1.jpeg"
                      /></a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">004</th>
                    <td>Raul</td>
                    <td>Figueroa</td>
                    <td>36</td>
                    <td>Desarrollador Frontend</td>
                    <td>Desarrolo-Web</td>
                    <td class="iconcont">
                      <a href="\infouser"
                        ><img
                          class="menuicon"
                          src="../static/images/search1jpeg"
                      /></a>
                    </td>
                    <td class="iconcont">
                      <a href="\edituser"
                        ><img
                          class="menuicon"
                          src="../static/images/edit1.jpeg"
                      /></a>
                    </td>
                    <td class="iconcont">
                      <a href="\deleteuser"
                        ><img
                          class="menuicon"
                          src="../static/images/delete1.jpeg"
                      /></a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">005</th>
                    <td>Olga</td>
                    <td>Guevara</td>
                    <td>35</td>
                    <td>Desarrollador Frontend</td>
                    <td>Desarrolo-Web</td>
                    <td class="iconcont">
                      <a href="\infouser"
                        ><img
                          class="menuicon"
                          src="../static/images/search1jpeg"
                      /></a>
                    </td>
                    <td class="iconcont">
                      <a href="\edituser"
                        ><img
                          class="menuicon"
                          src="../static/images/edit1.jpeg"
                      /></a>
                    </td>
                    <td class="iconcont">
                      <a href="\deleteuser"
                        ><img
                          class="menuicon"
                          src="../static/images/delete1.jpeg"
                      /></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="row">
              <div class="container">
                <button class="" type="submit">Guardar</button>
              </div>
            </div>
          </center>
        </form>
      </div>
    </div>
  </body>
</html>
